{% extends "base.html" %} {% block content %}
<div class="bg-white rounded-2xl shadow-lg p-8 max-w-8xl mx-auto space-y-6">
  <a
    href="{% url 'books:catalog' %}"
    class="px-4 py-2 bg-gray-200 rounded-xl text-gray-800 font-medium hover:bg-gray-300 transition"
  >
    &lt;
  </a>
  <!-- Header Buku -->
  <div class="flex flex-col md:flex-row gap-8 relative items-stretch">
    <!-- Tombol Favorit -->
    <form
      method="post"
      action="{% url 'books:toggle_favorite' slug=book.slug %}"
      class="absolute right-3"
    >
      {% csrf_token %}
      <button
        type="submit"
        class="text-yellow-400 hover:scale-110 transition"
        title="Add to Favourite"
      >
        {% if is_favorite %}
        <!-- Filled star SVG -->
        {% else %}
        <!-- Outline star SVG -->
        {% endif %}
      </button>
    </form>

    <!-- Thumbnail -->
    <div class="relative flex-shrink-0">
      {% if book.cover %}
      <img
        src="{{ book.cover.url }}"
        alt="Sampul {{ book.title }}"
        class="w-64 object-cover rounded-lg shadow-md h-full"
      />
      {% endif %}
    </div>

    <!-- Info Buku -->
    <div class="flex-1 space-y-5">
      <h1 class="text-3xl font-bold text-gray-900">{{ book.title }}</h1>
      <p class="text-lg text-gray-700">
        by <span class="font-medium">{{ book.author }}</span>
      </p>

      <div class="grid grid-row-2 gap-y-2 text-gray-600 text-sm">
        <p><span class="font-semibold">Genre:</span> {{ book.genre }}</p>
        <p>
          <span class="font-semibold">Publication year:</span> {{ book.year }}
        </p>
        <p>
          <span class="font-semibold">Number of pages:</span> {{ book.num_pages}}
        </p>
      </div>

      <p class="text-gray-700 leading-relaxed">{{ book.description }}</p>

      <!-- Tombol Aksi -->
      <div class="flex flex-wrap gap-3 items-center">
        <a
          href="{% url 'books:preview' slug=book.slug %}"
          class="px-20 py-2 rounded-lg bg-gray-900 hover:bg-gray-500 text-white shadow-md transition font-medium flex items-center justify-center"
        >
          Read Book
        </a>

        {% if can_edit %}
        <!-- Edit button hanya icon -->
        <a
          href="{% url 'books:edit' slug=book.slug %}"
          class="p-3 rounded-lg bg-gray-200 hover:bg-gray-300 text-gray-700 flex items-center justify-center transition"
          title="Edit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
            />
          </svg>
        </a>

        <button
          type="button"
          onclick="openDeleteModal()"
          class="p-3 rounded-lg bg-gray-200 hover:bg-gray-300 text-red-600 flex items-center justify-center transition"
          title="Delete"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
            />
          </svg>
        </button>

        <!-- Modal -->
        <div
          id="deleteModal"
          class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
        >
          <div class="bg-white rounded-xl shadow-lg p-6 w-96">
            <!-- Icon -->
            <div class="flex justify-center mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="60"
                height="60"
                fill="currentColor"
                class="bi bi-exclamation-circle-fill text-red-500"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
                />
              </svg>
            </div>

            <!-- Title -->
            <h3 class="text-lg font-semibold text-gray-900 mb-4 text-center">
              Confirm Delete
            </h3>

            <!-- Description -->
            <p class="text-gray-700 text-center mb-6">You are about to delete
            <span class="font-medium text-center">{{ book.title }}.</span>
              This will also delete all related images and covers. Do you want
              to continue?
            </p>

            <!-- Actions -->
            <div class="flex justify-between">
              <!-- Cancel Button -->
              <button
                type="button"
                onclick="closeDeleteModal()"
                class="px-4 py-2 rounded-lg bg-gray-300 hover:bg-gray-400 text-gray-800 font-medium"
              >
                Cancel
              </button>

              <!-- Delete Form -->
              <form
                method="post"
                action="{% url 'books:delete' slug=book.slug %}"
              >
                {% csrf_token %}
                <button
                  type="submit"
                  class="px-4 py-2 rounded-lg bg-red-600 hover:bg-red-700 text-white font-medium"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>

        <a
          href="{% url 'books:analyze' slug=book.slug %}"
          class="p-3 rounded-lg bg-gray-200 hover:bg-gray-300 text-green-600 flex items-center justify-center transition"
          title="Analyze"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-bar-graph-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5m-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z"
            />
          </svg>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Analisis Buku -->
  <div class="mt-10">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Relevant Words</h2>
    {% if keywords %}
    <div class="flex flex-wrap gap-2">
      {% for kw in keywords %}
      <span
        class="px-3 py-1 rounded-full bg-gray-100 text-gray-700 text-sm shadow-sm relative group"
      >
        {{ kw.word }}
        <span
          class="absolute left-1/2 -translate-x-1/2 top-full mt-2 px-3 py-1 text-xs text-white bg-gray-800 rounded-lg opacity-0 group-hover:opacity-100 transition whitespace-nowrap z-10 after:content-[''] after:absolute after:top-0 after:left-1/2 after:-translate-x-1/2 after:-mt-4 after:border-8 after:border-transparent after:border-b-gray-800"
        >
          Score: {{ kw.score }}%
        </span>
      </span>
      {% endfor %}
    </div>
    {% else %}
    <div class="text-gray-500">There are no analysis results yet.</div>
    {% endif %}
  </div>
</div>
<script>
  function openDeleteModal() {
    document.getElementById("deleteModal").classList.remove("hidden");
  }
  function closeDeleteModal() {
    document.getElementById("deleteModal").classList.add("hidden");
  }
</script>

{% endblock %}
